<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AndroidProject">
        <activity
            android:name=".MainDish.MainDishesActivityDetails"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminSide.AdminHomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UserSide.FavoriteActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UserSide.ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainDish.MainDishesActivity"
            android:exported="false" />
        <activity
            android:name=".SideDish.SideDishesActivity"
            android:exported="false" />
        <activity
            android:name=".Sweet.SweetsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Sweet.SweetsActivity"
            android:exported="false" />
        <activity
            android:name=".Drink.DrinkDetail"
            android:exported="false" />
        <activity
            android:name=".Drink.DrinksActivity"
            android:exported="false" />
        <activity
            android:name=".UserSide.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".Authentication.ForgetPasswordActivity"
            android:parentActivityName=".Authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.Register"
            android:parentActivityName=".Authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.PhoneNumber"
            android:parentActivityName=".Authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>